

<%= erb :'partials/error' %>

<div class="form" id="login-box">
  <h1>SellBy</h1>
  <h3>Sell and buy items</h3>
  <form action="/login" method="post">
    <label for="Useranme">Username</label><br/>
    <input type="text" name="username" placeholder="Username" class="text-field" id="username-field"><br>
    <label for="Useranme">Password</label><br>
    <input type="text" name="password" placeholder="Password" class="text-field" id="password-field"><br>
    <input class="button" type="submit" value="Log In" id="login">
  </form>
  <a href="/signup"><input class="button" type="submit" value="Create New Account" id="new-account">
</div>

    