<h1>SellBy</h1>

<h3>Sell and buy items</h3>

<%= erb :'partials/error' %>

<div id="login_box">
  <form action="/login" method="post">
    <label for="Useranme"></label>
    <input type="text" name="username" placeholder="Username">
    <label for="Useranme"></label>
    <input type="text" name="password" placeholder="Password">
    <input class="buttom" type="submit" value="Log In" id="login">
  </form>
</div>
<br>
<a href="/signup"><input class="buttom" type="submit" value="Create New Account" id="new_account">

    