<h1>SellBy</h1>

<h3>Sell and buy items</h3>

<%= erb :'partials/error' %>

<div class="form" id="login_box">
  <form action="/login" method="post">
    <label for="Useranme">Username</label><br>
    <input type="text" name="username" placeholder="Username"><br>
    <label for="Useranme">Password</label><br>
    <input type="text" name="password" placeholder="Password"><br>
    <input class="buttom" type="submit" value="Log In" id="login">
  </form>
  <br>
  <a href="/signup"><input class="buttom" type="submit" value="Create New Account" id="new_account">
</div>

    