<section class="boxes" id="sessions-purchases">
  <h1>All Purchases</h1>
  <% @user.purchases.each do |item| %>
    <div class="item-box" id="sessions-purchases-item-box">
      <h1><%= item.name %></h1>
      <%= item.show_price %><br>
      Quantity: <%= item.quantity_purchased %>
    </div>
  <% end %>
  <a href="/users/<%= @user.slug %>">Back to account</a>
</section>