<h1>All Purchases</h1>
<section class="boxes" id="sessions-purchases">
 <div class="item-box" id="purchases">
 <% @user.purchases.each do |item| %>
   <%= item.name %><br><%= item.show_price %><br>Quantity: <%= item.quantity_purchased %><br><br>
 <% end %>
 <a href="/users/<%= @user.slug %>">Back to account</a>
</div>
</section>