/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;

  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

/* Apply margin 0 and padding 0 to all elements by default */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { 
  /* height: 100%;   */  /* commented out at 8:58am */
  box-sizing: border-box;     /* Border box includes padding and margin within the given box element, without resizing the box */
}

header {
  margin-bottom: 4rem;
}

body {
  background: #f2f4f8;
  border: solid  2px green;
  font-size: 1rem; 
  font-weight: 400;
  line-height: 1.5;
  box-sizing: inherit;
/* 
  width: 100%;
  height: 100%; */
  margin: 0;
}

.main-container {
  border: solid yellow 1px;
  /* width: 100%; */
  margin: 0px 20px 20px 20px;
  display: flex;

  /* New  */
flex-direction: column;
justify-content: center;
align-items: center;
}

/* @media (min-widht: 1200px) {
  .main-container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .main-container {
    max-width: 960px;
  }
}

@media (min-width: 992px) {
  .main-container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .main-container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .main-container {
    max-width: 540px;
  }
} */


a {
  text-decoration: none; 
  
}

ul {
  list-style: none;  
}

/* START NAV */

.nav {  
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-blue);
  /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); */
  z-index: 10;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .nav {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .nav {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/* @media (max-widdth: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
} */

.nav-list {
  display: flex;
  margin-left: 2rem;
}

.nav-list a {
  display: block;
  color: white;
  padding: 1rem;
  font-family: inherit;
  font-size: 1.2rem;
  line-height: 0.8em;
  /* border-right: 1px solid #bbb; */
}

.nav-list a:hover {
  background: #67799e;
}

/* END NAV */

/* START FORM SECTIONS (in this stylehseet, any view that consits of a single box is considered a form) */

/* Base style for all forms */
section.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 0 auto; */
  padding: 20px;
  background: white;
  
  /* justify-content: center; */
}

/* Login and Sign Up forms */

.form#login-box,
.form#signup-box {
  padding: 2.5rem;
  max-width: 300px;
  box-shadow: 0 1rem 1rem -0.75rem 
}

#login-box h1,
#signup-box h1 {
  margin-bottom: 10px;
  font-size: 2rem;
}

#login-box h3 {
  margin-bottom: 10px;
}

/* Base style for all text-fields */
.text-field {
  height: 42px;
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0 20px 0;
  font-size: 1rem;
  border-radius: 4px;
}

.button {
  background-color: #008CBA;;
  color: white;
  border: none;
  padding: 12px 28px;
  margin: 8px 0;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: var(--main-blue);
}

.button#login, 
.button#signup {
  width: 100%;
}

/* horizontal line in forms */

.hr {
  border-bottom: 1px solid var(--gray);
  display: flex;
  margin: 1.25rem;
  width: 100%;
}

/* NEW ITEM and EDIT ITEM forms */

/* .form#new-item {
  max-width: 32rem;
  border-radius: 0.25rem;
} */

.form-complex {
  padding: 20px;
  background: white;
  width: 32rem;
  /* width: 22rem;  USE THIS FOR MOBLIE SCREEN WIDTH */
  border-radius: 0.25rem;
}

.form-complex .form-partitions div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-complex h1 {
  text-align: center;
  margin-bottom: 10px;
}

.form-complex #name-row, 
.form-complex #price-row, 
.form-complex #stock-row {
  align-items: stretch;
}

.form-complex .text-field#price, 
.form-complex .text-field#stock {
  width: 60%;
} 

.form-complex #update-listing .button {
  width: 50%;
}





.button#cancel {
  color: black;
  background: none;
  border: 1px solid gray;
}

.button#cancel:hover {
  color: white;
  background: gray;
  border: 1px solid gray;
}

/* SHOW/ITEM view */

.form#show-item {
  width: 20rem;
}

.button#edit-listing {
  color: green;
  background: white;
  border: 1px solid green;
}

.button#edit-listing:hover {
  color: white;
  background: var(--green);
  border: 1px solid var(--green);
}

.button#delete {
  color: red;
  background: white;
  border: 1px solid red;
}

.button#delete:hover {
  color: white;
  background: var(--danger);
  border: 1px solid var(--danger);
}

.button#add-item,
.button#buy-now {
  color: white;
  background: orange;
  border: 1px solid orange;
}

.button#add-item:hover,
.button#buy-now:hover {
  color: white;
  background: var(--yellow);
  border: 1px solid var(--yellow);
}

/* END FORM SECTIONS */

/* START BOXES SECTIONS (in this style sheet, any view that contains more than one box is classified as a boxes section) */

/* Base style for all item boxes and the placeorder-box */
.item-box, 
.placeorder-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;;
  background: white;
  text-align: center;
}

/* Items/index view */

#items-index {
  margin: 0 3rem 3rem 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 17rem; */
  justify-content: center;
  /* justify-items: center; */
  gap: 3rem 3rem;
  /* grid-template-areas:  */
}

@media (max-width: 700px) {
  #items-index {
    grid-template-columns: 11rem 11rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  #items-index {
    grid-template-columns:  13rem;
    grid-template-columns:  1fr;
  }
}

/* Custom style for item-box within the items/index view */

#items-index .item-box {
  border: solid black 2px;
  /* align content vertically */
  /* justify-content: center; */
  padding: 1.25rem 0.5rem;
  /* justify-self: stretch; */
}

/* Carts/show view */

#carts-show {
  display: grid;
  grid-template-columns: 65%;
  gap: 0rem 3rem;
  margin: 0 3rem 3rem 3rem;
}

@media (max-width: 700px) {
  #carts-show {
    grid-template-columns: 55%;
  }
  #placeorder h2 {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  #placeorder {
    grid-column: 2;
    
    border: solid red 2px;
  }
}

@media (max-width: 500px) {
  #carts-show {
    grid-template-columns: 45%;
  }
}

@media (max-width: 500px) {
  #placeorder {
    grid-column: 2;
    border: solid red 2px;
  }
}

#carts-show .item-box {
  grid-column: 1;
  text-align: center;
  border: solid blue 2px;
} 

#carts-show .placeorder-box {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  line-height: 3rem;
  border: solid pink 2px;
} 

/* Users/show view */

#users-show {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-around;   /*For a SINGLE LINE, lieaves space on the left and right sides of each of the flex containers
  /* align-content: space-around; */
  /* align-items: baseline; */
}

#users-show .item-box {
  border: solid red 2px;
  margin: 0rem 1rem 2rem 1rem;
} 

/* #sessions-listings, 
#sessions-purchases {
  display: grid;
  grid-template-columns: 1;
  justify-items: center;
  gap: 20px;
} */

/* Sessions/listings and Sessions/purchases views */

#sessions-listings-item-box, 
#sessions-purchases-item-box {
  width: 20rem; 
  margin: 0 auto;
  margin-bottom: 1.25rem;
}

/* END BOXES SECTIONS */