/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

body {
  font-size: 1.4rem;
  background: #f2f4f8;
  
}

.main-container {
  padding: 10px 10px 10px 10px;

}

a {
  text-decoration: none; 
}

/* NAVIGATION BAR styliing */
.nav {  
  /* make the nav container a flex box */
  display: flex;
  /* let all elements inside nav bar fill the full space horizontally */
  justify-content:space-evenly;
  /* let the nav bar stay on the same place when scrolling the page */
  position: fixed;
  /* let the nav bar be centralized horizontally across the page */
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  /* let the elements insde the nav bar be 10px awaay from the nav bar borders on all sides */
  padding: 10px;
  background: var(--main-blue);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav a {
  color: white;
  font-family: sans-serif;
}

/* FORMS */
.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  top: 25%;
  
  align-items: center;
  /* line-height: 2rem; */
  padding: 20px;
  background: white;
  /* border: solid yellow; */
  max-width: 300px;
  /* position: relative; */
  box-shadow: 0 1rem 1rem -0.75rem 
  
}

.text-field {
  height: 42px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 28px 0;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 4px;
}

.button {
  background-color: #008CBA;;
  color: white;
  border: none;
  padding: 12px 28px;
  margin: 8px 0;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: var(--main-blue);
}

/* #login:hover, #signup:hover, #new-account:hover {
  background-color: var(--main-blue);
*/


