<%= erb :'partials/error' %>
<section class="form" id="signup-box">
  <h3>SellBy</h3>
  <h1>Sign Up</h1>
  <form action="/signup" method="post">
    <label for="useranme">Username</label>
    <input class="text-field" type="text" name="username" placeholder="Username" class="text-field" id="username-field">
    <label for="email">Email</label>
    <input class="text-field" type="text" name="email" placeholder="Email" class="text-field" id="email-field">
    <label for="password">Password</label>
    <input class="text-field" type="text" name="password" placeholder="Password" class="text-field" id="password-field">
    <input class="button" type="submit" value="Sign Up" id="signup">
  </form>
</section>