<%= erb :'partials/error' %>

<div class="form" id="sign_up">
  <h1>Sign Up</h1>
  <form action="/signup" method="post">
    <label for="useranme">Username</label><br>
    <input class="text-field" type="text" name="username" placeholder="Username" class="text-field" id="username-field"><br>
    <label for="email">Email</label><br>
    <input class="text-field" type="text" name="email" placeholder="Email" class="text-field" id="email-field"><br>
    <label for="password">Password</label><br>
    <input class="text-field" type="text" name="password" placeholder="Password" class="text-field" id="password-field"><br>
    <input class="button" type="submit" value="Sign Up" id="signup">
  </form>
</div>