<h1>SellBy</h1>
<p>Sell and buy items</p>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<div id="login_box">
  <form action="/login" method="post">
    <label for="Useranme"></label>
    <input type="text" name="username" placeholder="Username">
    <label for="Useranme"></label>
    <input type="text" name="password" placeholder="Password">

    <input class="buttom" type="submit" value="Log In" id="login">
  </form>
  <br>
  <a href="/users/new"><input class="buttom" type="submit" value="Create New Account" id="new_account">
</div>
    