<h1>New Listing</h1>
<form action="/items" method="post">
  <label>Item Name:</label>
  <input type="text" name="name"><br>
  <label>Item Price:</label>
  <input type="text" name="price"><br>
  <label>Item Stock:</label>
  <input type="integer" name="stock">

  <inpyt type="submit" value="Create Listing">
</form><br>
<a href="user/show"><input type="text" value="Cancel"></a>