<!DOCTYPE html>
<html>
  <head>
    <title>SellBy</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if !logged_in? %>
    <nav class="nav" id="navbar">
      
        <a href="/index">Home</a>
        <a href="/login">My Apps</a>
        <a href="/index">About</a>
      
    </nav>
    <% else %>
    <nav class="nav" id="navbar">
      
        <a href="/items">Home</a>
        <a href="/users/<%= current_user.slug %>">My Account</a>
        <a href="/carts/<%= current_user.cart.id %>">Cart</a>
        <a href="/logout">Log Out</a>
      
    </nav>
    <% end %>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>